# ------------------------------
# Virtual Environment
# ------------------------------
.venv/

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# ------------------------------
# Environment Variables
# ------------------------------
.env

# ------------------------------
# Jupyter
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Logs
# ------------------------------
logs/
*.log

# ------------------------------
# Spark Temporary Files
# ------------------------------
spark-warehouse/
metastore_db/
*.crc

# ------------------------------
# IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# macOS
# ------------------------------
.DS_Store

# ------------------------------
# Terraform
# ------------------------------
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# ------------------------------
# Build / Distribution
# ------------------------------
build/
dist/

# ------------------------------
# Local Test Data (Optional)
# ------------------------------
data/processed/data/processed/
.venv-1/
